<h3>{{title}}</h3>
<div class="map-popup-body">
    {{{ excerpt }}}
    {{#if url}}
    <a href="{{url}}" class="govuk-button" data-module="govuk-button" rel="noreferrer noopener">{{ T "view" }}</a>
    <a href="{{url}}" class="govuk-button govuk-button--secondary" data-module="govuk-button" rel="noreferrer noopener" target="_blank">{{ T "open_tab" }}</a>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="map.flyTo({center: [{{location}}], zoom: 14})">{{ T "zoom" }}</button>
    {{/if}}
</div>

